body {
    height: 100%;
    margin: 0;
}

$grey1 : #F6F6F6;

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3rem;
    padding: 3rem 3rem;
    margin: 2rem 5rem;
    background-color: $grey1;
    height: fit-content;
    border-radius: 20px; 
}